{% extends 'base.html.twig' %}

{% block title %}Festival Technonite{% endblock %}

{% block body %}

<div class="container card border-danger mb-3" >
  <div class="card-header"></div>
  <div class="card-body">
    <h1 class="card-title">Présentation du festival Technonite</h1>
    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam lacinia vitae arcu quis sagittis. Praesent in est turpis. Vestibulum pharetra tincidunt nunc non congue. Nulla venenatis nibh ut risus dignissim aliquam. Duis dignissim mauris dui, id pellentesque dui lobortis non. Phasellus enim quam, volutpat eget viverra et, vulputate non eros. Maecenas elementum consectetur tortor, ut hendrerit felis molestie in. Morbi venenatis lacinia ante, ut venenatis metus malesuada eget. In hac habitasse platea dictumst. Mauris ac placerat purus. In sagittis viverra sem, id dapibus mauris tincidunt eget.

Pellentesque luctus dictum lectus, malesuada rutrum leo tempus at. Quisque tincidunt elementum tristique. Fusce eget lacinia purus, nec pellentesque dolor. Suspendisse potenti. Integer massa est, mollis et gravida quis, molestie ut lectus. Integer posuere nibh et arcu sagittis consectetur. In aliquam hendrerit lobortis. Interdum et malesuada fames ac ante ipsum primis in faucibus.

Aenean vestibulum dolor placerat mi volutpat aliquet eget sit amet justo. Interdum et malesuada fames ac ante ipsum primis in faucibus. Phasellus et porta ante, et aliquam purus. Vivamus egestas placerat sapien sed ornare. Sed enim elit, cursus nec mi in, varius posuere lacus. In auctor, nunc sed fermentum pretium, lacus nisl convallis lacus, ac dictum eros nisi sed massa. Nulla sollicitudin lacus sed nulla vehicula, quis vestibulum augue pretium. Aenean semper nunc purus, bibendum sagittis erat cursus ut. Fusce id nulla et justo tempus posuere at a eros. Quisque at leo et felis feugiat ornare. Donec porta justo eu urna laoreet tincidunt. Nunc id ipsum bibendum, imperdiet ipsum eget, scelerisque diam. Sed venenatis a libero ut egestas. Etiam pretium leo ac nisl facilisis, a lobortis eros fringilla.

Mauris libero massa, scelerisque et vulputate sit amet, consequat nec augue. Suspendisse orci eros, consectetur finibus nulla eget, venenatis tristique quam. Etiam tristique leo quis egestas ultricies. Donec tempor velit at turpis placerat, nec molestie ante suscipit. Sed gravida maximus dui, vel aliquet lectus blandit eget. Aliquam erat neque, porttitor et justo ut, ultrices fermentum mi. Integer sed enim varius lacus sollicitudin mattis. Maecenas eget lacus sed odio placerat egestas. Nam consectetur in dolor eu sodales. Proin vitae lectus elementum, blandit nunc eget, consequat leo.

Sed euismod metus sed varius dapibus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. In non luctus dolor, sed semper metus. Nam consectetur eleifend tellus, sit amet ultrices dui faucibus in. Pellentesque mattis nibh justo, eget pharetra nisi sodales ac. Pellentesque nec malesuada lectus. Donec ultrices diam vel purus consectetur aliquet. Cras sit amet tellus in neque aliquam sodales a sit amet leo.</p>
  </div>
</div>

{% endblock %}
